<footer class="site-footer h-card">

  <style>
    .social-media-list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .social-media-list li {
      margin: 0 20px;
    }

    .social-media-list li+li {
      padding-top: 0px;
    }

    #insta {
      text-wrap: nowrap;
    }

    #github {
      text-wrap: nowrap;
    }

    img {
      max-width: 100%;
      vertical-align: middle;
      padding-right: 5px;
    }
  </style>
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- <li class="p-name">
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
              </li> -->
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}


        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>

    </div>

  </div>

</footer>